<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= link_to recipe.name, recipe %></h1>

    <div>
      <dt>Tipo de Cozinha<dt>
      <dd><%= recipe.kitchen_type %></dd>
      <dt>Tipo de Comida<dt>
      <dd><%= recipe.food_type %></dd>
      <dt>Tempo de Preparo<dt>
      <dd><%= recipe.preparation_time %></dd>
      <dt>Nível de Dificuldade<dt>
      <dd><%= recipe.preparation_level %></dd>
      </div>
  </div>
</div>
