<section>
  <div class="row">
    <h1><%= @recipe.name %></h1>
    <div class="col-md-6">
      <dt>Tipo de Comida<dt>
      <dd><%= @recipe.food_type.name %></dd>
      <dt>Tipo de Cozinha<dt>
      <dd><%= @recipe.kitchen_type.name %></dd>
      <dt>Quantidade de Pessoas<dt>
      <dd><%= @recipe.amount_people %></dd>
      <dt>Tempo de Preparo<dt>
      <dd><%= @recipe.preparation_time %></dd>
      <dt>Nível de Dificuldade<dt>
      <dd><%= @recipe.preparation_level %></dd>
    </div>
    <div class="col-md-6" style="top-bottom">
      <%= cl_image_tag @recipe.photo, :width=>290, :height=>200, :crop=>"crop", class: 'img-responsive img-thumbnail' %>
    </div>
  </div>
  <div class="row" style="margin-top:30px">
    <div class="col-md-6">
      <dt>Ingredientes<dt>
      <dd><%= simple_format(@recipe.ingredients) %></dd>
    </div>
    <div class="col-md-6">
      <dt>Passo a Passo<dt>
          <dd class="text-justify"><%= simple_format(@recipe.steps) %></dd>
    </div>
  </div>
</section>
